body {
    margin: 0;
    padding: 0;
    background-color: rgb(83, 105, 119);
}

a:visited {
    color: blueviolet;
}

.welcome-bar {
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 5px;
    background-color: #e8e8e8ff;
}

.welcome-bar p {
    align-self: center;
}

.welcome-bar p a {
    text-decoration: none;
    color: #0ec8d7ff;
    align-self: flex-end;
}

/* banner images / slider */
.banner-container {
    margin-bottom: 32px;
}

.slider-wrapper {
    position: relative;
    max-width: 75%;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 24px 48px -12px black;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
    position: relative;
    height: 4vh;
    z-index: 100;
    bottom: 50px;
    padding-right: 2%;
}

.slide-nav-1, .slide-nav-2, .slide-nav-3 {
    background-color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    opacity: 0.4;
    transition: 0.8s;
}

.slide-nav-1:hover, .slide-nav-2:hover, .slide-nav-3:hover {
    opacity: 1;
    transition: 0.8s;
}
